.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 85, 255, 0.6);
    width: 20rem;
    height: 25rem;
    margin: 2rem;
    border-radius: 8px;
    padding: 2rem;
}

.image {
    width: 50%;
    height: 50%;
}